[Desktop Entry]
Name=Sloppy PDF Renamer
Comment=Rename PDF files based on their titles
Exec=sloppy-pdf-renamer %F
Icon=application-pdf
Type=Application
MimeType=application/pdf;inode/directory;
Terminal=false
Categories=Utility;
StartupNotify=false
